/*
* @Author: lenovo
* @Date:   2018-11-07 11:07:03
* @Last Modified by:   lenovo
* @Last Modified time: 2018-11-08 17:28:51
*/
header{
	width: 100%;
	height: 2.5rem;
	background: #ff521a;
	padding: 0 0.24rem;
}
header .title{
	width:100%;
	height: 0.57rem;
	display: flex;
	justify-content: space-between;
	font-size: 0.26rem;
	line-height: 0.57rem;
	color: #fff;
}
header .list{
	width: 100%;
	height: 1.96rem;
	background: pink;
	display: flex;
	justify-content: center;
	align-items: center;
}
header .list img{
	width: 1.72rem;
	height: 1.72rem;
}
header .list .text{
	width: 4.58rem;
	height: 100%;
	background: blue;
	padding-top:0.15rem;
	padding-left: 0.25rem;
	font-size: 0.26rem; 
}
main{
	width: 100%;
	height: 8.75rem;
	/* 超出部分：隐藏 hidden/auto*/
	/* overflow: auto; */
}
main .top{
	width: 100%;
	height: 0.6rem;
	background: #fff;
	box-shadow: 0 0 0.15rem 0.01rem rgba(0, 0, 0, 0.1);
}
main .content{
	width: 100%;
	height: 8.15rem;
	display: flex;
	justify-content: flex-start;
}
main .navs{
	width: 100%;
	height: 100%;
	font-size: 0.3rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
main ul li.active{
	border-bottom: 0.01rem solid orange;
	padding-bottom: 0.05rem;
}
main .content .nav{
	width: 2rem;
	height: 100%;
	background: #f5f5f5;
	/* 水平超出部分：隐藏 */
	overflow-x:hidden ;
	/* 垂直超出部分：自动出现滚动条 */
	overflow-y: auto;
}
main .content .con{
	width: 5.5rem;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	padding-top: 0.15rem;
	padding-left: 0.15rem;
}
main .content .nav li{
	width: 100%;
	height: 1.2rem;
	font-size: 0.24rem;
	text-align: center;
	line-height: 1.2rem;
}
/* 交叉选择器/既满足选择器1又满足选择器2：选择器1选择器2 */
main .content .nav li.active{
	background: #ed5e2f;
	color: #fff;
}
main .content .con li{
	width: 5.15rem;
	height: 1.8rem;
	box-shadow: 0 0 0.15rem 0.01rem rgba(0, 0, 0, 0.1);
	margin-bottom: 0.15rem;
	background: #fff;
	border-radius: 0.15rem;
	display: flex;
	justify-content: flex-start;
}
main .content .con li .pic{
	width: 1.93rem;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
main .content .con li .pic img{
	width: 1.59rem;
	height: 1.32rem;
}
main .content .con li .text{
	width: 3.22rem;
	height: 100%;
	font-size: 0.2rem;
}
main .content .con li .text h3{
	font-size: 0.24rem;
	margin-top: 0.22rem;
	border-bottom: 0.03rem dotted orange;
	padding-bottom: 0.05rem;
}
main .content .con li .text p{
	width: 100%;
	/* height: 0.24rem; */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 0.11rem;
}
main .content .con li .text .des{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
main .content .con li .text .des .text1{
	margin-right: 0.52rem;
}
main .content .con li .text .price{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.05rem;
}
main .content .con li .text .price .text{
	color: red;
	font-size: 0.26rem;
}
main .content .con li .text .price .plus{
	width: 0.28rem;
	height: 0.28rem;
	background: #ffa34a;
	border: 0.04rem solid #ffe0c1;
	border-radius: 50%;
	font-size: 0.18rem;
	text-align: center;
	line-height: 0.32rem;
	color: #fff;
	margin-right: 0.3rem;
}